<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eagle_dive_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,452}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,27},{204,452}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eagle_dive_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,452}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,27},{204,452}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eagle_fly_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{466,418}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,42},{466,418}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>eagle_fly_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{466,418}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,42},{466,418}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eagle.png</string>
            <key>size</key>
            <string>{1350,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2c3fe8017aee253dfeb8e65e7b30b0b:c3da676c7ce7e3c60d61134bb23eac70:4f195094dcdfc3005feef33608ed8e1b$</string>
            <key>textureFileName</key>
            <string>eagle.png</string>
        </dict>
    </dict>
</plist>
