<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rabbit_Run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{360,399}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{360,399}}</string>
                <key>sourceSize</key>
                <string>{500,399}</string>
            </dict>
            <key>Rabbit_Run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{382,411}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{382,411}}</string>
                <key>sourceSize</key>
                <string>{500,439}</string>
            </dict>
            <key>Rabbit_Run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,415},{418,556}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{418,556}}</string>
                <key>sourceSize</key>
                <string>{500,556}</string>
            </dict>
            <key>Rabbit_Run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,415},{408,486}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{408,486}}</string>
                <key>sourceSize</key>
                <string>{500,486}</string>
            </dict>
            <key>Rabbit_Run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{432,471}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,471}}</string>
                <key>sourceSize</key>
                <string>{500,471}</string>
            </dict>
            <key>Rabbit_Run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,348}}</string>
                <key>offset</key>
                <string>{26,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,280},{448,348}}</string>
                <key>sourceSize</key>
                <string>{500,628}</string>
            </dict>
            <key>Rabbit_Stand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{360,399}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{360,399}}</string>
                <key>sourceSize</key>
                <string>{500,399}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Rabbit.png</string>
            <key>size</key>
            <string>{1266,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1bf8e95d3c6e9ecad7cef537103a4ac:3993fde8554b765d2b5d8eb0ead0cd83:73e3b4ef6cef6122e952afc945e88579$</string>
            <key>textureFileName</key>
            <string>Rabbit.png</string>
        </dict>
    </dict>
</plist>
